body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #576574;
  overflow: hidden; 
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

div, img, button, input, select {
  margin:0;
  padding:0;
}

.image-reader {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}



.page-image {
  margin: 0px;
  box-sizing: border-box;
  max-height: 100%;
  object-fit:contain;
  flex: 1;
}

#left-page {
  object-position: right;
  max-width: 50%;
  border: 1px solid #2d3436;
}

#right-page { 
 max-width: 98%;
}

#left-page + #right-page { /* mushaf double page view */
 object-position: left;
 max-width: 50%;
 border: 1px solid #afafaf;
 object-fit:contain;
}

button#next-page {
  flex: 1;
}

button#prev-page {
  flex: 1;
}

button#nav-button {
  text-align: center;
  min-width: 50px;
}

select#surah-select {
  width: 100%;
  flex: 2;
}

input#page-number {
  text-align: center;
  font-weight: 800;
  padding: 0;
  max-width: 60px;
  flex: 1;
}

.controls {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: env(safe-area-inset-bottom);
}



button {
  flex: 1;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 2px;
  background-color: #245287;
  color: #e6e6e6;
  font-weight: 900;
}

button, input, select {
  border:#222f3e 1px solid;
  border-radius: 0;
}

input, select {
  background-color: #343537;
  color: #e6e6e6;
}

input:focus, select:focus {
  background-color: #515256;
}

/* Default styles */

.hidden {
  width:0;
  height:0;
  visibility: hidden;
}

/* responsive sizes for .controls elements */
@media (max-width: 700px) {
  select#surah-select {
    flex: 3;
  }

  #next-page::before {
    content: "⬅";
  }
  
  #next-page::after {
    content: "";
  }
  
  #next-page {
    font-size: 0;
  }
  
  #next-page::before {
    font-size: 16px;
  }

  #prev-page::before {
    content: "➡";
  }
  
  #prev-page::after {
    content: "";
  }
  
  #prev-page {
    font-size: 0;
  }
  
  #prev-page::before {
    font-size: 16px;
  }

  

  #single-page::before {
    content: "📄";
  }
  
  #single-page::after {
    content: "";
  }
  
  #single-page {
    font-size: 0;
  }
  
  #single-page::before {
    font-size: 16px;
  }


  #full-screen::before {
    content: "⛶";
  }
  
  #full-screen::after {
    content: "";
  }
  
  #full-screen {
    font-size: 0;
  }
  
  #full-screen::before {
    font-size: 16px;
  }
}


/* Styles when viewport width is greater than its height */
@media (min-aspect-ratio: 0.70/1) {
  #right-page {
    max-width:min-content;
  }
}